/app/checkpoints
/app/configs
/app/logs
/venv
/wvenv
/__pycache__*
*.pyc
/app/routes/__pycache__/*.pyc
*.log
app/dimabra/credentials
*.zip
app/tmp/tmpfile_*.json
app/tmp/training_manager_snapshot.pkl
